@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    background-color: #96c2ff;
}

html::-webkit-scrollbar {
    width: 10px; 
}

html::-webkit-scrollbar-track {
  background-color:rgba(4, 58, 109);
}

html::-webkit-scrollbar-thumb {
  background:#96c2ff;
  border-radius: 25px;
}

.poster{
    background: url("wall.png");
    height: 100vh;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.per{
    animation: move 1s ease-in;
    margin-right: 10vw;
}
.per img{
    width: 95%;
}
.per1{
    display: none;
    transform: scale(1.4);
    margin-top: 40px;
    margin-right: 15%;
    margin-left: 10%;
}
.cir{
    background: white;
    width: 38%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.cir1{
    animation: enter 1s ease;
    position: absolute;
    border-radius: 100px;
    top: 20px;
    width: 250px;
    height: 250px; 
    z-index: 1;
}
.cir2{
    color: #176DE4;
    z-index: 2;
    font-size: 40px;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    animation: enter 1s ease;
    text-align: center;
    padding-top:250px;
    font-family: Montserrat;
}
.cir3{
    text-align: center;
    padding: 70px;
    animation: enter 1s ease;
    padding-bottom: 0px;
    font-family: lato;
    color: #979797;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom:0px;
}
.toolbox{
    background: #0358A6;
    backdrop-filter: blur(4px);
    width: 62%;
    margin-left: 94.2%;
    transition: all 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateX(-85%); */
    flex-direction: row;
    position: fixed;
    z-index: 6;
    height: 100vh;
}
.credit{
    position: absolute;
    top:91%;
    left: 41%;
    font-size: small;
    color: rgba(255, 255, 255,0.7);
    font-family: lato;
}
.social{
    color: white;
    font-family: Montserrat;
    position: absolute;
    left: 3.2%;
    bottom: 15px;
    align-items: center;
    grid-gap: 20px;
    display: flex;
    flex-direction: column;
}

.logo{
    position: absolute;
    top: 15px;
    width: 5%;
    left: 15px;
}
.key{
    width: 5%;
    position: absolute;
    transition: all 0.8s ease;
    top: 45vh;
    left: 18px;
}
.toolkit{
    text-align: center;
}
.toolkit .tool1,.tool2,.tool3,.tool4{
    padding: 10px;
    margin: 10px;
    font-size: xx-large;
    width: 250px;
    font-weight: bold;
    font-family: Montserrat;
    transition: all 0.5s ease 0s;
    color: white;
    cursor: pointer;
    margin-left: 0px;
}

.toolkit .tool1:hover,.tool2:hover,.tool3:hover,.tool4:hover{
    transform: skewX(-20deg);
    background: rgba(4, 196, 255, 0.5);
}

.topbox{
    background:#0358A6;
    padding: 0px;
    margin:0px;
    width: 100%;
    height: 100vh;
    top:-90%;
    transition: all 0.6s ease;
    z-index: 20;
    justify-content: center;
    align-items: flex-end;
    display: none;
    position: fixed;
}

.key3{
    width:40px;
    padding-top:40px; 
    padding-bottom: 20px;
}

.app{
    padding-top: 30px;
    animation: enter 1s ease;
    display: flex;
}

.app .i1{
    padding-right: 5px;
}

.app .i2{
    padding-left: 5px;
}

.line1,.line2,.line3{
    /* display: none; */
    background: white;
    margin: 2px;
    height: 5px;
    width: 45px;
    border-radius: 10px;
}

.service{
    display: flex;
    margin-top: 5vh;
    padding: 120px;
    padding-left: 50px;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.head2{
    font-family: Montserrat;
    color:#ffffff;
    font-weight: 700;
    font-size: 3.8vw;
}


.service1{
    display: flex;
    justify-content: center;
    grid-gap:40px;
    /* justify-content: space-around;   */
    margin-top: 30vh;
    margin-bottom: 100px;    
}

.s1{
    background: #DBEEFF;
    height: 400px;
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 20px;
}

.pos{
    margin-top: -100px;
}

@media (min-width:1100px){
    #body{
        overflow: visible;
    }
}
@media (max-width:1100px){
    .poster{
        margin:0px;
        padding-left: 10%;
    }
    .per img{
        /* display: none; */
        margin-top: 10vh;
        margin-left: 20%;
        width: 80%;    
    }
    .poster{
        padding-left: 0px;
    }
    .cir{
        width: 50%;
        margin-left: 0%;
    }
    /* .cir{
        margin-top: 10vh;
        height: 25rem;
        border-radius: 40px;
    }
    .cir1{
        top: 0px;
        width: 100px;
    }
    .cir2{
        font-size: 1.7rem;
        color: rgba(255, 255, 255,2);
        color: #0358A6;
        padding-top: 100px;
        padding-left:40px;
        padding-right: 40px;
    }
    .cir3{
        font-size: 0.7rem;
    }
    .app{
       padding-top: 35px;
       padding-left: 40%;
       padding-right: 40%;
    }
    .app .i1,.i2{
        width: auto;
    } */
    .toolbox{
        transform: translateX(-2%);
    }
    /* .topbox{
        display: flex;
    } */
    .key3{
        display: none;
    }
    .service{
        padding-left: 15%;
        padding-right: 20%;
    }

    .service1{
        grid-gap: 30px;
        width: 100%;
        margin-top: 80px;
        flex-direction: column;
    }

    .head2{
        text-align: center;
        font-size: 5vw;
        width: 100%;
    }

    .s1{
        margin-top:60px;
        width: 100%;
        height: 85vh;
    }

    .s1 img{
        margin-top:20px;
        transform: scale(1.1);
    }
}
@media (max-width:1000px) {
    .per1{
        display: block;
    }
    .per{
        display: none;
    }
}
@media (max-width:800px){
    .topbox{
        display: flex;
        margin-top:0px;
        justify-content: space-between;
    }
    .key2{
        width: 5vh;
        margin-bottom: 2vh;
        margin-right: 6vw;
        transform: rotateZ(-90deg);
        transition: all 1.1s ease;
        z-index: 11;
    }
    .toolbox{
        display: none;
    }
    .logo2{
        margin-left: 6vw;
        margin-bottom: 1vh;
        width: 15vh;
    }
    .poster{
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }
    .cir{
        height: 100vh;
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
    .cir1{
        position: relative;
        width: 400px;
        top:30px;
    }
    .cir2{
        font-size: 50px;
        padding-top: 10px;
        padding-left: 15%;
        padding-right: 15%;
    }
    .cir3{
        font-size: larger;
        padding-bottom: 20px;
    }
    .app .i1{
        transform: scale(1.7);
        padding-right: 40px;
    }
    .per1{
        display: none;
    }
    .app .i2{
        transform: scale(1.7);
        padding-left: 40px;
    }
    .service{
        padding-left: 10%;
        padding-right: 10%;
    }

    .service1{
        grid-gap: 30px;
        width: 100%;
        margin-top: 80px;
        flex-direction: column;
    }

    .head2{
        font-size: 6.6vw;
        width: 100%;
    }

    .s1{
        width: 100%;
    }

    .s1 img{
        margin-top: -10px;
        transform: scale(0.8);
    }
}

@media (max-width:600px){
    .poster{
        width: 100vw;
    }
    .logo2{
        width: 15vh;
        margin-bottom: 1vh;
        margin-left: 20px;
    }
    .key2{
        margin-bottom: 2vh;
        margin-right: 30px;
    }
    .topbox{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        top:-90vh;
    }
    .cir{
        margin-left: 0%;
        width: 100%;
        margin-right: 0%;
    }
    .cir1{
        top:70px;
        width: 200px;
        height: 200px;
    }
    .cir2{
        font-size: xx-large;
        margin-top: 10px;
        padding-left: 8%;
        padding-right: 8%;
    }
    .cir3{
        font-size: medium;
    }
    .app{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }
    .app .i1{
        margin-bottom: 10px;
        padding: 0px;
    }
    .app .i2{
        padding: 0px;
        margin-top: 20px;
    }
    .service{
        margin-top: 0vh;
    }
    .s1{
        margin-top: 20px;
        height: 60vh;
    }
}

.exp{
    transform:translateX(-55.7vw)
}
.rot{
    transform: rotateZ(180deg);
}

.exp2{
    top: -30px;
}
.rot2{
    transform: rotateZ(90deg);
}
.endOverflow{
    overflow: hidden;
}
@keyframes shake {
    from{
        margin-bottom: 11px;
    }
    to{
        margin-bottom: initial;
    }
}
@keyframes move{
    from{
        padding-top: 100px;
    }
    to{
        top:initial;
    }
}

@keyframes enter{
    from{
        opacity: 0;
    }
    to{
        opacity: initial;
    }
}
